@page "/board"

@inject ApplicationDbContext DbContext

<div class="board">
    @foreach (var column in DbContext.Columns.Include(c => c.Tickets))
    {
        <div class="column">
            <h3>@column.Name</h3>
            <div class="tickets">
                @foreach (var ticket in column.Tickets)
                {
                    <div class="ticket" draggable="true">
                        <h4>@ticket.Title</h4>
                        <p>@ticket.Description</p>
                    </div>
                }
            </div>
        </div>
    }
</div>
