@page "/board"

<PageTitle>Board</PageTitle>

<h1>Agile board</h1>

<table class="table">
      <thead>
          <tr>
              <th>Todo</th>
              <th>Active</th>
              <th>Done</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
</table>


@code {

}
